<header>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light nav-yellow border-bottom border-top p-0">
        <div class="container">
            <!-- 品牌标识 -->
            <a class="navbar-brand fs-4 fw-bold" href="#">
                <i class="fa fa-cart-shopping fs-4" style="color: #f54242;"></i>
                <span class="textBlur">LoopBuy</span>
            </a>

            <!-- 响应式切换按钮 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- 导航项 -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
                    <!-- 分类下拉菜单 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fw-semibold text-uppercase me-1 text-danger" href="#"
                            id="navbarDropdownCategories" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownCategories">
                            <li *ngFor="let category of categoryList">
                                <a class="dropdown-item" (click)="navigateToProducts(category.categoryId)"
                                    routerLinkActive="router-link-active">{{ category.categoryName }}</a>
                                <!-- <a class="dropdown-item" [routerLink]="['/products', category.categoryId]">
                                    {{ category.name }}
                                </a> -->
                            </li>
                        </ul>
                    </li>

                    <!-- Pages 下拉菜单 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle redHover fw-semibold text-uppercase text-black me-1" href="#"
                            id="navbarDropdownPages" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pages
                        </a>
                        <!-- 补充下拉菜单内容（示例） -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownPages">
                            <li><a class="dropdown-item" href="#">About</a></li>
                            <li><a class="dropdown-item" href="#">Contact</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>


</header>
<!-- <app-focus></app-focus> -->
<router-outlet></router-outlet>